<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TestMapper">

    <resultMap id="BaseResultMap" type="Test">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="age" column="age" jdbcType="INTEGER"/>
        <result property="height" column="height" jdbcType="DOUBLE"/>
        <result property="weight" column="weight" jdbcType="VARCHAR"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,name,age,
        height,weight,createTime
    </sql>


    <select id="selectListByParams" parameterType="Test" resultMap="BaseResultMap">
        SELECT id, name, age, height, weight,createTime FROM Test
        <where>
            <if test="id != null and id > 0">
                AND id = #{id}
            </if>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="age != null and age > 0">
                AND age = #{age}
            </if>
            <if test="height != null and height > 0">
                AND height = #{height}
            </if>
            <if test="weight != null and weight > 0">
                AND weight = #{weight}
            </if>
            <if test="startTime != null and startTime != ''"><!-- 开始时间检索 -->
                AND createTime &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
                AND createTime &lt;= #{endTime}
            </if>

        </where>

    </select>

</mapper>
